.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
}

.dropdown-container {
  margin-top: 20px;
}

#category-select {
  font-size: 16px;
  padding: 5px;
}

#resolution-select {
  font-size: 16px;
  padding: 5px;
}

#game-select {
  font-size: 16px;
  padding: 5px;
}

.open-link-button {
  background-color: #4CAF50; /* Green background */
  color: white;              /* White text */
  padding: 10px 20px;        /* Button padding */
  font-size: 16px;           /* Font size */
  border: none;              /* Remove border */
  border-radius: 4px;        /* Rounded corners */
  cursor: pointer;           /* Pointer cursor on hover */
  opacity: 0.6;              /* Initial disabled state */
}

.open-link-button:enabled {
  opacity: 1;                /* Full opacity when enabled */
}

.open-link-button:hover:enabled {
  background-color: #45a049; /* Darker green on hover when enabled */
}

.custom-icon-container {
  /*background-color: white;  Optional background */
  border-radius: 5px; /* Optional rounded corners */
  /* padding: 5px; */
}